@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sveiki</h1>

    @if (Request.IsAuthenticated)
    {
        <p class="lead">Sekite savo prietaisų buvimo vietą</p>
        @Html.ActionLink("Mano įrenginiai", "Index", "Client", null, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        <p class="lead">Matyti savo prietaiso buvimo vietą galite prisijungę prie sistemos</p>
        @Html.ActionLink("Prisijungti", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
    }
</div>